.d1{
    height: 45px;
    width: 1220px;
    background-color:rgb(19, 1, 36);
    display: flex;
    align-items: center;
}
.p{
    margin-left: 50px;
    color: white;
}
.input1{
    width: 295px;
    margin-left: 300px;
    border-radius: 20px;
    border: 2px solid blue;

}
.d2{
    background-color:rgba(228, 211, 211, 0.178);
    width: 300px;
    height: 600px;

}
.container{
    width: 850px;
    margin-top: 150px;
    margin-left: -140px;
    box-shadow: 10px;
}